html,
* {
    box-sizing: content-box;
}
.board {
    position: absolute;
    width: 480px;
}
.piece {
    height: 60px;
    position: absolute;
    z-index: 2;
}
.game {
    display: flex;
    flex-direction: column;
    h3 {
        margin-left: 500px;
    }
}
.chars {
    letter-spacing: 23px;
}
input {
    padding: 0.5em;
    &:focus {
        outline: none;
    }
}
